<% title "New Task for #{@project.title}" %> <h2>New Task for <%= @project.title %></h2>

<%= render 'form' %>

<h3>Cancel?</h3>
<p>
  <%= link_to 'Back to Tasks', project_tasks_path(@project) %>
</p>
