$width: 720px;

html, body {
  margin: 0 auto 0;
  padding: 0;
  width: $width;
}

header {
  margin: 0;
  padding: 0;
}

#heading {
  margin: 0;
  padding: 0;
  height: 130px;
}
    
nav {
  ul {
    li {
      list-style-type: none;
      display: inline-block;
    }
  }
}

section {
  margin: 0;
  padding: 0 25px 0;
}

footer {
  height: 180px;
  width: $width;
}

pre {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

#calendar table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #000;
  @include box-shadow;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 12px;
  padding: 6px;
  border: 1px solid #000;
}

#calendar th {
  background: $background-color;
  color: #fff;
  @include text-shadow;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: lighten($background-color, 10%);
  color: #fff;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
  a.day {
    color: #fff;
    @include text-shadow;
    &:hover {
      color: #fff;
    }
  }
}

#calendar .notmonth {
  background: lighten($background-color, 20%);
  color: #888;
  a.day {
    text-shadow: none;
    color: #888;
    &:hover {
      color: #fff;
    }
  }
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  padding: 0 10px;
}

#calendar .today {
  background-color: $background-color;
  color: #fff;
  font-size: 20px;
  a.day {
    color: $highlight-color;
    @include text-shadow;
    &:hover {
      color: #fff;
    }
  }
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}
