<% title "Edit Report"%> <h2>Edit Report</h2>
<p></p>
<%= render 'form' %>

<h3>Cancel?</h3>
<ul>
  <li>
    <%= link_to 'Back to Report', @report %>
  </li>
  <li>
    <%= link_to 'Back to My Reports', reports_path %>
  </li>
</ul>

<h3>Bad Report?</h3>
<ul>
  <li>
    <%= link_to 'Delete it', @report, :confirm => 'Are you sure?', :method => :delete %> (can not be undone).
  </li>
</ul>
